
@font-face {
    font-family: GinetoFit;
    src: url(../fonts/Gineto/GinetoFitTest-Regular.otf);
}

@font-face {
    font-family: Gineto;
    src: url(../fonts/Gineto/GinetoTest-Regular.otf);
}
