@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
    /* For the font-weight range use (0-1000 weight) */
    font-weight: 400 1000;
    /* Used for the font-strecht property/uses the width of var fonts */
	font-stretch: 25% 151%;
}

@font-face {
    font-family: GinetoFit;
    src: url(../fonts/Gineto/GinetoFitTest-Regular.otf);
}

@font-face {
    font-family: Gineto;
    src: url(../fonts/Gineto/GinetoTest-Regular.otf);
}

@font-face {
    font-family: RobotoFlex;
    src: url(../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf);
}