:root {
    --accent-color: #EEAA43;
}

body {
    margin: 0;
    overflow: overlay;
}

h3 {
    font-variation-settings: 'wght' 600;
}

h2 {
    opacity: 0.5;
    color: #D49C00;
}

strong {
    font-variation-settings: 'wght' 600;
}

h1 {
    font-variation-settings: 'wght' 800;
}

#app {
    text-align: center;
    color: #2c3e50;
}

.app-typography {
    font-family: Inter, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
}

.app-typography-body {
    font-variation-settings: 'wght' 400;
}

.section-container {
    min-height: 100px;
    margin-bottom: 200px;
}

.content-wrapper {
    max-width: 600px;
    margin: auto;
    text-align: left;
    overflow: visible;
    padding: 0 20px;
}

.content-wrapper img {
    --overlap: 100px;
    width: calc(100% + (var(--overlap) * 2));
    margin-left: calc(var(--overlap) * -1);
}

.content-centered {
    text-align: center;
}

/* Descriptions */

[description], [description-alt] {
    position: relative;
    display: inline-block;
}

[description]::before, [description-alt]::after {
    --suffix: "───────";
    content: attr(description) " " var(--suffix);
    position: absolute;
    right: 100%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    top: 50%;
    transform: translate(-40px, -50%);
    opacity: 0.33;
    text-transform: none;
    letter-spacing: normal;
    user-select: none;
    pointer-events: none;
    color: #333;
}

[description-alt]::after {
    left: 100%;
    right: auto;
    content: var(--suffix) " " attr(description-alt);
    transform: translate(40px, -50%);
}

footer {
    height: 200px;
    width: 100%;
}